.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
}

.darkBlock {
    height: 100vh;
    width: calc(100vw - 430px);
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    color: red;
    width: 430px;
    height: 100vh;
    background: rgb(255, 255, 255);
}