.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
}

.darkBlock {
    height: 100vh;
    width: calc(100vw - 430px);
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.modal {
    position: fixed;
    right: -430px;
    width: 430px;
    height: 100vh;
    background: rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.active > .modal {
  right: 0;  
}

.active > .darkBlock  {
    opacity: 1;
    visibility: visible;
}

.emptyText {
    text-align: center;
    margin-top: 200px;
}

.header {
    background: rgb(243, 243, 247);
    padding: 25px 15px 15px 15px;
    font-size: 24px;
    font-weight: 500;
}