.wrapper {
    width: calc(25% - 20px);
    margin: 20px 0;
}

.imageWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.imageWrapper > img {
    width: 100%;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 8px 0;
}

.description p{
    height: 8vh;
    margin-top: 10px;
    margin: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto",sans-serif;
    color: rgb(92, 99, 112);
    font-weight: 400;
}
.footer {
    margin-top: 16px;
    width: 100%;
}
.align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.price {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    padding-right: 8px;
}