.formWrapper {
    display: grid;
    grid-gap: 15px;
    margin: 50px auto;
    width: 500px;
}

.formWrapper input, .formWrapper textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}