* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn {
  background: rgb(255, 105, 0);
  color: #fff;
  border-radius: 9999px;
  text-align: center;
  border: none;
  padding: 8px 20px;
  line-height: 24px;
  font-size: 16px;
}