@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#loading-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loading-image img{
  width: 20%;
}
.page {
  padding: 50px 0;
}

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 50px;
}

.btn {
  background: rgb(255, 105, 0);
  color: #fff;
  border-radius: 9999px;
  text-align: center;
  border: none;
  padding: 8px 20px;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
}
.btn:disabled {
  background: rgb(163, 163, 163);
}

.text-center {
  text-align: center;
}